# Ignore dependencies
node_modules/
**/node_modules/
**/node_modules/*
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store
.localized

# Environment
.env
CLAUDE.md
**/.claude/
